html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}
.container{
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
section{
	padding: 100px 0;
}
.sec_tit{
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}
.color{
	color: #BE963F;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
.btn{
	background: #283337;

	
	border-radius: 50px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}
.btn:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between


}
.cloud_logo{
	width: 100px;
height: 100px;
top: 25px;
left: 615px;

}
.product_tit{
	width: 326px;
height: 60px;
top: -6px;
font-family: Times New Roman;
font-size: 60px;
font-weight: 400;
line-height: 60px;
letter-spacing: 1px;
text-align: left;
}
.product_txt{
	width: 363px;
height: 104px;
top: 22px;
left: 3px;
font-family: Arial;
font-size: 17px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
font-family: Arial;
font-size: 17px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #40494D;
}
.product_img{
	width: 90px;
height: 90px;
top: 80px;
left: 80px;
}
.product_tit{
	width: 203px;
height: 68px;
top: 197px;
left: 80px;
font-family: Arial;
font-size: 32px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
margin-bottom:  30px;

}
.product_txt{
	width: 391px;
height: 78px;
top: 316px;
left: 80px;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 40px;
}
.product_txt_smoll{
	width: 113px;
height: 36px;
top: 432px;
left: 334px;
font-family: Arial;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: right;
color:#283337
}
.our_tit{
	width: 330px;
height: 60px;
font-family: Times New Roman;
font-size: 60px;
font-weight: 700;
line-height: 60px;
letter-spacing: 1px;
text-align: center;
color:#283337;
margin: 0 auto;
padding-bottom: 60px;
}
.our_card{
	width: 270px;
height: 134px;
padding: 0px, 25px, 0px, 25px;
padding-top: 80px;
}
.our_card_tit{
	width: 84px;
height: 70px;
top: -1px;
left: 93px;
font-family: Arial;
font-size: 52px;
font-weight: 400;
line-height: 70px;
letter-spacing: 0em;
text-align: center;
color:#283337;
margin: 0 auto;
}
.our_card_txt{
	width: 220px;
height: 48px;
top: 88px;
left: 25px;
font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}
.kion_tit{
	width: 285px;
height: 120px;
top: -6px;
left: 25px;
font-family: Times New Roman;
font-size: 60px;
font-weight: 700;
line-height: 60px;
letter-spacing: 1px;
text-align: left;
color:#283337;
margin-bottom: 40px;
}
.kion_txt{
	width: 381px;
height: 104px;
top: 37px;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 20px;
}
.kion-txt{
	font-family: Arial;
font-size: 11px;
font-weight: 400;
line-height: 14px;
letter-spacing: 1px;
text-align: left;
width: 120px;
height: 14px;
top: 165px;
margin-bottom: 20px;
}

